/* All common css start */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: #222831;
    color: #EEEEEE;
}



a {
    text-decoration: none;

    ul,
    ol {
        list-style-type: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

/* All common css end */



.navbar {
    background-color: #222831;
    border-bottom: 1px solid #00ADB5;

}



.navbar-collapse {
    flex-grow: 0 !important;
}

.nav-link {
    color: #EEEEEE;
}

.nav-link:hover {
    color: #00ADB5;
}

.heroBtn a:hover{
    background-color: #00ADB5;
    border: none;
}
.heroBtn a{
    background-color: rgba(57, 62, 70, 0.5);
    border: none;
}
.heroBtn a{
    padding: 10px 30px;
    border-radius: 25px;
}






.heroContent h1{
    font-size: 60px;
    font-weight: 700;
    
}

.heroPart{
    padding: 100px 0;
}

.heroImg img{
    height: 650px;
    width: 540;
    padding-top: ;
}
/* .heroPartOne{
    display: inline-block;

} */

.heroContentAll{
    display: flex;
    padding-top: 70px;
    gap: 20px;
}

.heroBtn{
    padding-top: 45px;
}

.left-icon img{
    width: 70px;
    padding-top: 50px; /* adjust */
}


.aboutContent p{
    height: 180px;
    width: 380px;
    font-size: 18px;
    font-weight: 400;
    color: #EEEEEE;
}

.aboutContent h1 span{
    color: #00ADB5;
}

.aboutContent h1{
    font-size: 64px;
    font-weight: 700;
}

.aboutContent p span{
    font-weight: 700;
}


.aboutEliment1{
    position: relative; 
    left: 150px;
    top: 50px;
}
.aboutEliment2{
    position: relative; 
    bottom: 450px;
    left: 380px;
}
.aboutEliment3{
    position: relative; 
    bottom: 650px;
}

.aboutImg img{
    width: 570px;
}

.projectPart{
    padding: 260px 0;
    background-image: url(../images/Projects.png);
}

.projectContent h2 span{
    color: #00ADB5;
}

.projectBtn a:hover{
    background-color: #00ADB5;
    border: none;
}
.projectBtn a{
    background-color: rgba(57, 62, 70, 0.5);
    border: none;
    padding: 10px 30px;
    border-radius: 25px;
}
.projectContent h2{
    font-size: 64px;
    font-weight: 700;
}


.projecrCard{
    padding-top: 40px;
    justify-content: space-evenly;
}
.pCard{
    height: 280px;
    width: 360px;
    background: rgba(57, 62, 70, 0.5);
    border-radius: 16px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;     
    /* padding: 60px 50px; */
    
}

.contactContent {
    padding-top: 250px;
}
.contactContent h2{
    font-size: 64px;
    font-weight: 700;
    color: #EEEEEE;
}
.contactContent h2 span{
    color: #00ADB5;
}

.contactForm{
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-top: 200px;
    
}


.contactImg img{
    position: relative;
    left: 200px;
    bottom: 60px;
}
.contactEliment{
    position: relative;
    bottom: 300px;
}


.contact {
    display: flex;
    justify-content: center;
    
}



.input-row {
    display: flex;
    gap: 20px;

}

.input-box {
    width: 100%;
    margin-bottom: 20px;
}

.input-box label {
    display: block;
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.inputBox input,.inputBox textarea {
    width: 100%;
    border: none;
    outline: none;
    background: #242c3d;
    color: white;
    padding: 16px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 24px;
}

.inputBox textarea {
    height: 260px;
    resize: none;
}

.send-btn {
    border: none;
    background: rgba(57, 62, 70, 0.5);
    padding: 10px 30px;
    border-radius: 25px;
    color: #EEEEEE;
    transition: .4s;
    
}

.send-btn:hover {
    background-color: #00ADB5;
    border: none;
}


.contactEliment1{
    position: relative;
    bottom: 650px;
}
.contactEliment2{
    position: relative;
    bottom: 50px;

}

.footerContent ul{
    display: flex;
    justify-content: center;
}
.footerContent{
    padding-top: 100px;
    border-top: 1px solid #00ADB5;
}
.footerMenu ol a{
    color: #EEEEEE;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    transition: .4s;
}

.footerMenu ol a:hover{
    color: #00ADB5;
}
.footerIcon{
    margin-top: 50px;
    
}

    

.footerIcon ol a{
    color: #EEEEEE;
    padding: 20px;
    background: rgba(57, 62, 70, 0.5);
    border-radius: 50%;
    transition: .4s;
}


.footerIcon ol a:hover{
    background: #00ADB5;
    

}
.footerBottom p{
    color: #EEEEEE;
    font-size: 18px;
    font-weight: 400;
    text-align: end;
    padding: 50px 95px;
}