/* All common css start */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: #222831;
    color: #EEEEEE;
}



a {
    text-decoration: none;

    ul,
    ol {
        list-style-type: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

/* All common css end */



.navbar {
    background-color: #222831;
    border-bottom: 1px solid #00ADB5;

}



.navbar-collapse {
    flex-grow: 0 !important;
}

.nav-link {
    color: #EEEEEE;
}

.nav-link:hover {
    color: #00ADB5;
}

.heroBtn a:hover{
    background-color: #393E46;
    border: none;
}
.heroBtn a{
    background-color: #00ADB5;
}
.heroBtn a{
    padding: 10px 30px;
    border-radius: 25px;
}




.heroContent h1{
    font-size: 60px;
    font-weight: 700;
    
}

.heroPart{
    padding: 100px 0;
}

.heroImg img{
    height: 650px;
    width: 540;
    padding-top: ;
}
/* .heroPartOne{
    display: inline-block;

} */

.heroContentAll{
    display: flex;
    padding-top: 70px;
    gap: 20px;
}

.left-icon img{
    width: 70px; /* adjust */
}
