/* All common css start */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: #222831;
    color: #EEEEEE;
}



a {
    text-decoration: none;

    ul,
    ol {
        list-style-type: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

/* All common css end */



.navbar {
    background-color: #222831;
    border-bottom: 1px solid #00ADB5;

}



.navbar-collapse {
    flex-grow: 0 !important;
}

.nav-link {
    color: #EEEEEE;
}

.nav-link:hover {
    color: #00ADB5;
}

.heroBtn a:hover{
    background-color: #00ADB5;
    border: none;
}
.heroBtn a{
    background-color: rgba(57, 62, 70, 0.5);
    border: none;
}
.heroBtn a{
    padding: 10px 30px;
    border-radius: 25px;
}






.heroContent h1{
    font-size: 60px;
    font-weight: 700;
    
}

.heroPart{
    padding: 100px 0;
}

.heroImg img{
    height: 650px;
    width: 540;
    padding-top: ;
}
/* .heroPartOne{
    display: inline-block;

} */

.heroContentAll{
    display: flex;
    padding-top: 70px;
    gap: 20px;
}

.heroBtn{
    padding-top: 45px;
}

.left-icon img{
    width: 70px;
    padding-top: 50px; /* adjust */
}


.aboutContent p{
    height: 180px;
    width: 380px;
    font-size: 18px;
    font-weight: 400;
    color: #EEEEEE;
}

.aboutContent h1 span{
    color: #00ADB5;
}

.aboutContent h1{
    font-size: 64px;
    font-weight: 700;
}

.aboutContent p span{
    font-weight: 700;
}


.aboutEliment1{
    position: relative; 
    left: 150px;
    top: 50px;
}
.aboutEliment2{
    position: relative; 
    bottom: 450px;
    left: 380px;
}
.aboutEliment3{
    position: relative; 
    bottom: 650px;
}

.aboutImg img{
    width: 570px;
}

.projectPart{
    padding: 260px 0;
    background-image: url(../images/Projects.png);
}

.projectContent h2 span{
    color: #00ADB5;
}

.projectBtn a:hover{
    background-color: #00ADB5;
    border: none;
}
.projectBtn a{
    background-color: rgba(57, 62, 70, 0.5);
    border: none;
    padding: 10px 30px;
    border-radius: 25px;
}
.projectContent h2{
    font-size: 64px;
    font-weight: 700;
}


.projecrCard{
    padding-top: 40px;
    justify-content: space-evenly;
}
.pCard{
    height: 280px;
    width: 360px;
    background: rgba(57, 62, 70, 0.5);
    border-radius: 16px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;     
    /* padding: 60px 50px; */
    
}

